[Unit]
Description=Home Server Websockets Backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=node /home/devin/HomeServer/src/backend/index.js
User=root
Group=root

[Install]
WantedBy=multi-user.target
